@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // width: 10rem;
    // width: 100%;
    background-color: #73BA9B;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    font-family: Montserrat;

    .cardItems {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }

    &:first-child {
        margin-top: 2rem;
    }
}